  /* 
  body {
    background-color: #f0f1f5;
  }

  header {
      background-color: white;
      padding: 10px;
  }

  #img {
      float: left;
      padding-top: 30px;
      padding-left: 37% ;
      margin-bottom: 15px;
  }
  
  #card {
      padding-top: 30px;
      padding-right: 34%;
      float: right;
  }

  h2 {
      text-align: center;
  }

  table {
    margin-top: 15px;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
  }

  td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
  }

  span.blue {
      color: #0047b3;
      font-size: 20px;
  }

  span.time{
      font-size: 15px;
      font-style: italic;
  }

  span.text {
      font-size: medium;
  }

  footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   
    background:white;
  }

  .note {
      position: absolute;
      margin: auto;
      background-color: #f0f1f5;
  }

  .blog_post {
      padding: 10px;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      border-style: solid;
      border-width: 0px;
      border-color:#ffffff;
      border-radius: 4px;
      box-shadow: 3px 3px 10px #cccccc;
  }

  .body {
      border-top: 1px solid #ddd;
      margin-top: 10px;
      padding-top: 10px;
  }

  #read_more {
      background-color: #0047b3;
      border-radius: 5px;
      padding: 5px;
      color: white;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
  }

@media (min-width: 768px) {
    table {
      width: 768px;
    }
} */

  body {
    background-color: #f0f1f5;
  }

  header {
    background-color: white;
    padding: 10px;
    height: 65px;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  h2 {
    text-align: center;
  }

  .main {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
  }

  img {
    display: block;
    margin: 25px auto;
    width: 250px;
  }

  .nav-button {
    background-color: white;
    position: absolute;
    border: 0px;
    visibility: visible;
  }

  #navbar {
    visibility: hidden;
  }

  .heading {
    display: inline-block;
    width: 100%;
  }

  table {
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  td {
    padding: 10px;
    display: block;
  }

  td:first-child {
    margin-top: 10px;
  }

  span.blue {
    color: #0047b3;
    font-size: 20px;
  }

  span.time {
    font-size: 15px;
    font-style: italic;
  }

  span.text {
    font-size: medium;
  }

  h3 {
    color: #0047b3;
    font-size: 25px;
    padding-top: 75px;
  }

  .subhead {
    /* width: 100%; */
    text-align: center;
  }
  
  .end {
    height: 35vh;
  }

  td:first-child {
      margin-top: 10px;
  }

  td:last-child {
    border-bottom: 1px solid #afafaf;
  }

  @media (min-width: 768px) {
    #navbar {
      visibility: visible;
      background-color: white
    }

    .nav-button {
      visibility: hidden;
    }

    td {
      display: table-cell;
      border-bottom: 1px solid #afafaf;
    }

    h3 {
      padding-top: 100px;
    }

    table {
      width: 768px;
    }

    .firstdata {
      width: 175px;
    }

    .summary {
      width: 768px;
      margin-left: auto;
      margin-right: auto;
    }
  }